.container{
    font-family: "Poppins";
    color: #f1f1f1;
    margin: 0px;
    padding: 2vh 10vw 1vh 5vw;
    display: flex;
    justify-content: space-between;
}

.logo{
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 2px;
}

.container>ul{
    width: 40vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.container>ul>li{
    list-style: none;
}

.selectedMenu{
    font-weight: 600;
    border-bottom: 2px solid #f1f1f1;
    border-bottom-width: 3px;
}

.notSelected{
    cursor: pointer;
}

@media (max-width:1250px) {
    .selectedMenu, .notSelected{
        margin: 1em;
    }

    .container{
        flex-direction: column;
    }

    .container>ul{
        width: 100%;
        font-size: 1.2em;
    }

    .logo{
        font-size: 2em;
        margin: 0 auto;
    }
}