@font-face {
  font-family: "Antonio";
  src: url("../public/fonts/Antonio-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf");
}

.App {
  background: url("../public/images/background.jpg");
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}
